**/__pycache__/
*.patch
/blender/output/
/blender/addons/io_scene_foundry/resources.zip
copy to add-ons.bat
.DS_Store
/blender/addons/io_scene_foundry/.vscode/settings.json
/.vs
/packages
/obj
/bin
/FoundryBlam/bin
/FoundryBlam/obj
/FoundryBlam/FoundryBlamCorinth/bin
/FoundryBlam/FoundryBlamCorinth/obj
/FoundryBlam/FoundryBlamCorinth/*.cs
/.vscode
*.user
*.vsidx
*.lock
*.csproj
