**/__pycache__/
*.patch
/blender/output/
copy to add-ons.bat
.DS_Store
/blender/addons/io_scene_foundry/.vscode/settings.json
/blender/addons/io_scene_foundry/resources/foundation
*.vs
*bin
*obj
/packages
/.vscode
*.user
*.vsidx
*.lock
*.csproj
*.htm
*.resources
blender\addons\io_scene_foundry\resources
/blender/addons/io_scene_foundry/wheels/
