**/__pycache__/
*.pyc

.DS_Store

/blender/output/

.vs/
.vscode/
*.user
*.vsidx

*.blend1

/blender/addons/io_scene_foundry/.vscode/settings.json

*bin/
*obj/

/packages/

*.patch
*.lock
copy to add-ons.bat

*.htm
*.resources

/blender/addons/io_scene_foundry/resources/
/blender/addons/io_scene_foundry/wheels/

/blender/addons/io_scene_foundry/blender_manifest.toml